@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Impact';
    src: url('./assets/fonts/Impact.woff2') format('woff2'),
        url('./assets/fonts/Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
	
	.font-Impact{
	  font-family: 'Impact';
	  font-style: normal;
	}
  }

  .slick-next:before {
	color: black;
  }

  .slick-prev:before {
	color: black;
  }

  .fadeIn  {
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
  }
  @keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
  }
  @-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
  }
  @-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
  }

